.t{
    position: relative;
    top: 23%;
    width: 70%;
    left: 15%;
}
.buttin1 {
    position: absolute;
    left: 90%;
    top: 5%;
  }
  .buttin2 {
    position: absolute;
    left: 85%;
    top: 5%;
  }
  .oval {
    position: absolute;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    width: 300px;
    background-color: rgb(156, 239, 245);
    border-radius: 10%;
    left: 40%;
    top: 1%;
  }
body{
    background-color: beige;
    opacity: .95;
}
.goback{
    position: relative;
    left: 80%;
    top: 30%;
    border-radius: 13%;
}
.hed{
    position: absolute;
    top: 11%;
    left: 35%;
    font-family: "popins";
}
