.body {
    background-color: aliceblue;
    overflow-x: hidden;
}
.heading {
    position: relative;
    left: 33%;
    top: 13%;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-select {
    position: absolute;
    left: 45%;
    top: 25%;
    height: 600px;
    border-radius: 5%;
}
.doctor {
    position: absolute;
    top: 30%;
    left: 1%;
}
.heading1 {
    position: absolute;
    left: 39%;
    top: 30%;
    font-family: Arial, Helvetica, sans-serif;
}
.Doctor1 {
    position: absolute;
    top: 50%;
    left: 10%;
    border-radius: 5%;
    box-shadow: 1px 1px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 300px;
    width: 250px;
    height: 175px;
    background-color: #fad0c4;
    background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
    transition: box-shadow 0.3s;
}
.Doctor1:hover {
    background-color: #772f1a;
    background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.Doctor2 {
    position: absolute;
    top: 50%;
    left: 43%;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 300px;
    width: 250px;
    height: 175px;
    border-radius: 5%;
    background-color: #f9484a;
    background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
    transition: box-shadow 0.3s;
}
.Doctor2:hover {
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.Doctor3 {
    position: absolute;
    top: 50%;
    left: 75%;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 300px;
    width: 250px;
    height: 175px;
    border-radius: 5%;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    transition: box-shadow 0.3s;
}
.Doctor3:hover {
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.Text {
    text-align: center;
}
.op {
    appearance: button;
    border: 4px solid #ccc;
    border-top-color: #bbb;
    border-left-color: #bbb;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.op:checked {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
select {
    width: 100%;
    padding: 10px 15px;
    border: 1px dashed blue;
    border-radius: 4px;
    background-color: orange;
}
