**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.idea
**/.git
**/.gitignore
**/.project
**/.run
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/tests
tests
README.md
