body {
    background: linear-gradient(-35deg, #ee7752, #6be2c8, #23a6d5, #23d5ab);
    background-size: 5000% 5000%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.part1 {
    position: absolute;
    font-size: 60px;
    top: 300px;
    left: 55px;
    color: white;
    border-color: black;
}
.part2 {
    position: absolute;
    font-size: 35px;
    top: 375px;
    left: 140px;
}
.maintenance {
    position: absolute;
    font-size: 35px;
    top: 800px;
    left: 900px;
    color: Yellow;
    border-color: black;
    border-width: 10px;
}
.logo {
    position: absolute;
    top: 1000px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-group {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 800px;
    top: 1250px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button.noselect {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: white;
    border: 2px solid black;
    box-shadow: 5px 5px 0 black, -5px -5px 0 black, -5px 5px 0 black,
        5px -5px 0 black;
    transition: 500ms ease-in-out;
}

button.noselect:hover {
    box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

button.noselect:focus {
    outline: none;
}
.button_2 {
    color: transparent;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1000px;
    top: 1250px;
}

.Sign_Up {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button.Sign_Up {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: white;
    border: 2px solid black;
    box-shadow: 5px 5px 0 black, -5px -5px 0 black, -5px 5px 0 black,
        5px -5px 0 black;
    transition: 500ms ease-in-out;
}

button.Sign_Up:hover {
    box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}
button.Sign_Up:focus {
    outline: none;
}
.navigation_buttons {
    position: absolute;
    width: 200px;
    height: 64px;
    left: 1152px;
    top: 151px;
    background-color: transparent;
}
.plusLOGO {
    position: absolute;
    left: 850px;
    top: 1050px;
}

.video {
    position: relative;
    bottom: 100px;
    left: 100px;
    marquee-loop: infinite;
}
.hazard {
    position: absolute;
    height: 50px;
    width: 60px;
}
